:root {
  font-family: "Lato", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;

  color-scheme: light dark;
  color: #10172a;
  background-color: #f7fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* Init --> General Setups */
button {
  background-color: transparent;
  border: none;
  border: 0;
  padding: 0;
  outline-offset: 0;
  outline: 0;
  transition: all 0.5 ease-in-out;
}

button:hover {
  cursor: pointer;
}
/* End  --> General Set up */

/* Init --> Main Structure */
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.main__content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7fafc;
  padding: 0 1rem;
}

.main__header {
  font-size: 1.5rem;
  font-weight: 700;
}

.main__header h1 {
  margin: 1rem 0;
}

.main__aside {
  width: 400px;
  padding: 1.5rem;
  border-left: 1px solid #cbd5e1;
  background-color: #f4f4f4;
}

.main__aside--active {
  background-color: #ffffff;
}
/* End --> Main Structure */

/* Init --> Tabs Comp */
.tabs {
  margin-bottom: 1rem;
  border-bottom: 1px solid #cbd5e1;
}

.tabs-btn {
  font-weight: 600;
  font-size: 1rem;
  color: #64748b;
  padding: 1rem 0;
  margin-right: 1rem;
}

.tabs-btn--active {
  color: #4f45e4;
  border-bottom: 1px solid #4f45e4;
}
/* End --> Main Structure */

/* Start --> Cards Section */
.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2rem;
  padding-bottom: 5rem;
}

.card {
  width: 230px;
  padding: 0.5rem;
}

.card-btn {
  width: inherit;
  height: 150px;
  border-radius: 1.2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.card-btn:hover {
  outline-offset: 0.2rem;
  outline: 2px solid #cbd5e1;
}

.card-btn:hover img {
  opacity: 0.8;
}

.card-btn--active,
.card-btn--active:hover {
  outline-offset: 0.2rem;
  outline: 2px solid #4f45e4;
}

.card-title {
  width: inherit;
  overflow-wrap: break-word;
  font-weight: 700;
}

.card-bytes {
  color: #64748b;
}
/* End --> Cards Section */

/* Start - Image Details */
.photo-info {
}
.photo-info__close-btn {
  display: none;
}

.photo-info--warn {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.photo-info--warn img {
  width: 50px;
  opacity: 0.5;
}
.photo-info--warn span {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #64748b;
}

.photo-info__image {
  width: 400px;
  height: 265px;
  border-radius: 1.2rem;
  overflow: hidden;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-info__image img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.photo-info__small-data {
  display: flex;
  justify-content: space-between;
}

.photo-info__small-data h2 {
  font-size: 1.3rem;
  margin: 0;
}

.photo-info__small-data span {
  color: #64748b;
}

.photo-info__favorite {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.photo-info__heading {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #cbd5e1;
}

.photo-info__heading-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2rem;
}

.photo-info__heading-list li {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 0.8rem 0;
  color: #64748b;
  border-bottom: 1px solid #cbd5e1;
}

.photo-info__heading-list li span {
  margin-left: 1rem;
  color: #10172a;
}

.photo-info__heading--description {
  font-size: 1.2rem;
  font-weight: 700;
}

.photo-info__description {
  font-size: 1.2rem;
  font-weight: 700;
  color: #64748b;
}

.photo-info__delete-btn {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  color: #64748b;
  font-size: 1.2rem;
  font-weight: 700;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
}

/* End --> Image Details */

/* Media Queries */
@media screen and (max-width: 768px) {
  .card {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .main__aside {
    display: none;
  }

  .main__aside--active {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .main__aside--active .photo-info__close-btn {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: #64748b;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid #cbd5e1;
    border-radius: 0.5rem;
  }
  .main__aside--active .photo-info__close-btn img {
    width: 1rem;
    height: 1rem;
  }

  .main__aside--active .photo-info__image {
    width: auto;
    height: 265px;
    border-radius: 1.2rem;
    overflow: hidden;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
